@{
    ViewData["Title"] = "Home Page";
}

<h1>Git offers:</h1>
<ul>
    <li>Version control</li>
    <li>Branches</li>
    <li>Easy collaboration</li>
    <li>Distributed repositories</li>
    <li>More...</li>
</ul>
<p>
    <a href="https://git-scm.com">Git homepage</a>
</p>
<footer>University of Information Technology and Management, Rzeszow 2026</footer>